:root {
  --primary: #8cc53f;
  --secondary: #f7f7f7;
  --black: #030607;
}
/* section {
  display: none;
} */
.font-grotesk {
  font-family: "Host Grotesk", sans-serif;
}

strong {
  text-decoration: underline;
}

.nav-link:hover {
  opacity: 0.8;
}

/* Mobile Menu */

nav.mobile-menu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

nav.mobile-menu.show-mobile-menu {
  max-height: 100%;
  opacity: 1;
}
